.playground{
	height: 50vw;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ss{
	width: 30vw;
	height: 1vw;
	background-color: red;
	display: flex;
	justify-content: space-between;
	animation: all 1s;
}

.player{
	width: 3vw;
	height: 3vw;
	transform: translateY(-3vw);
	background-color: blue;
	display: inline-block;
}